# JSON Based Data Exercise, by John Bromell

## Import Statements

In [80]:
import pandas as pd
import json
from pandas.io.json import json_normalize

## importing data and making a table with json_normalize

In [81]:
file_path = 'data/world_bank_projects.json'
with open(file_path) as json_file:
    json_data = json.load(json_file)
# Uncomment the line below to see the table.
#json_normalize(json_data).head()

## Making another table, this time with pandas

In [82]:
json_df = pd.read_json(file_path)
# Uncomment the line below to see the table.
#json_df.head()

## Question 1

In [13]:
# Get the countryshortname column, 
# use value_counts() to get a series of values,
# use sort_values() with ascending=False to give the most frequent countries first,
# and finally head(10) to show the top 10 countries in the Series.
json_df['countryshortname'].value_counts().sort_values(ascending=False).head(10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

## Question 2

In [83]:
# Get the series of mj_theme_namecodes: mjtheme_list_series
mjtheme_list_series = json_df['mjtheme_namecode']

# Initialize an empty dictionary in which to store the counts: mjtheme_code_counts
mjtheme_code_counts = {}

# Initialize a second empty dictionary in which each code is assigned a name.
mjtheme_decoder = {}

# Look at every mjtheme.
for mjtheme_list in mjtheme_list_series:
    for mjtheme in mjtheme_list:
        # If the mjtheme is already in the mjtheme_code_counts dictionary, 
        # increment the count by one.
        if mjtheme['code'] in mjtheme_code_counts:
            mjtheme_code_counts[mjtheme['code']] += 1
        # Otherwise, add it to the dictionary and set the count to one.
        else:
            mjtheme_code_counts[mjtheme['code']] = 1 
        # Lastly, if the theme's name was included, 
        # add it to the second dictionary if we haven't already.
        if mjtheme['name'] != '' and mjtheme['code'] not in mjtheme_decoder:
            mjtheme_decoder[mjtheme['code']] = mjtheme['name']

# Make a dataframe showing every code, name, and count: mjtheme_df
mjtheme_df = pd.DataFrame([mjtheme_decoder, mjtheme_code_counts]).transpose()
mjtheme_df.index.name = 'code'
mjtheme_df.columns = ['name', 'count']
mjtheme_df = mjtheme_df.sort_values(by='count', ascending=False)
# Display the top ten mjthemes using head(10).
mjtheme_df.head(10)

                                              name count
code
11    Environment and natural resources management   250
10                               Rural development   216
8                                Human development   210
2                         Public sector governance   199
6            Social protection and risk management   168
4         Financial and private sector development   146
7                      Social dev/gender/inclusion   130
5                            Trade and integration    77
9                                Urban development    50
1                              Economic management    38

## Question 3

In [84]:
# Currently, some of the names are left blank.  For example, in the twelfth row:
print("Before, the twelfth row had a blank name.")
print(json_df['mjtheme_namecode'][12])

# Look at every mjtheme.
for mjtheme_list in mjtheme_list_series:
    for mjtheme in mjtheme_list:
        #Replace every blank name using the mjtheme_decoder constructed for Question 2.
        if mjtheme['name'] == '':
            mjtheme['name'] = mjtheme_decoder[mjtheme['code']]

# Replace the old column with the new one.
new_json_df = json_df
new_json_df['mjtheme_namecode'] = mjtheme_list_series
print("But now I've filled in all the blanks.")
print(new_json_df['mjtheme_namecode'][12])

Before, the twelfth row had a blank name.
[{'code': '4', 'name': ''}]
But now I've filled in all the blanks.
[{'code': '4', 'name': 'Financial and private sector development'}]